/* common shared styles*/
body{
  font-family: 'Open Sans', sans-serif;
}
/* nav related styles*/
nav{
   display: flex;
   justify-content: space-between;
   margin: 0 200px;
}
.nav-title{
  font-size: 45px;
  font-weight: 800;
  align-items: center;

}
span{
  color: rgb(245, 123, 1);
}
nav ul{
  display: flex;
  
}
nav li{
  list-style: none;
  margin: 50px;

}
nav a{
  color: rgb(181, 179, 179);
}
.btn-primary{
  border-radius: 5px;
  background: rgb(245, 123, 1);
  border: 0px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;

}

/* header related styles*/
.header{
  background-color: #f7f0e7;
}

.banner{ 
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic{
  width: 500px;
  border-radius: 20px;
}